<h1>All Parents</h1>
<ul>
<% @owners.each do |o| %>
    <li>
      <h1>
        <a href="/owners/<%= o.id %>"><%= o.owner_name %></a>
      </h1>
    </li>
<% end %>
</ul>
<form method="POST" action="/dogs/all">
  <input type="submit" value="All Dogs">
</form>
<form method="POST" action="/logout">
  <input type="submit" value="Log Out">
</form>
