<h1> Sign Up </h1>

<%= "Must include Name, Email, and Password" if @owner && @owner.errors.any? %>

<h3><form method="POST" action="/owners">
  <p>
    <label for="owner_name">Name:</label>
    <input type="text" input name="owner_name" id="owner_name">
  <p>
    <label for ="email">Email:</label>
    <input type="text" input name="email" id="email" />
  </p>
  <p>
    <label for ="password">Password:</label>
    <input type="password" input name="password" id="password" /><br>
    8+ characters
  </p>
  <p>
    <label for ="password_confirm">Confirm Password:</label>
    <input type="password" input name="confirm_password" id="password_confirm" />
  </p>

  <input type="submit" />
</form>

<form method="POST" action="/logout">
  <input type="submit" value="Log Out">
</form></h3>
