<h1><%= @owner.owner_name %></h1>
<h2>Dogs:</h2>
<ul>
<% @owner.dogs.each do |d| %>
    <li>
        <h2>
          <a href="/dogs/<%= d.id %>"><%= d.name %></a>
        </h2>
    </li>
<% end %>
</ul>
<form method="POST" action="/dogs/all">
  <input type="submit" value="Return to Dogs">
</form>
<form method="POST" action="/logout">
  <input type="submit" value="Log Out">
</form>
