<h1><%= @owner.owner_name %></h1>
<h2>Dogs:</h2>
<ul>
<% @owner.dogs.each do |d| %>
    <li>
        <h2>
          <a href="/dogs/<%= d.id %>"><%= d.name %></a>
        </h2>
    </li>
<% end %>
</ul>
